<div class="container">
	<div ng-controller="players" ng-cloak class="ng-cloak">
		<div ng-hide="editing">
			<div class="form">
				<label for="name">Nombre:</label> 
				<input id="name" ng-model="name" type="text" />
				<label for="position">Posición:</label>
				<select id="position" ng-model="position">
					<option value="GoalKeeper">Arquero</option>
					<option value="Defender">Defensor</option>
					<option value="Midfielder">Mediocampista</option>
					<option value="Forward">Delantero</option>
				</select>
				<label for="realTeam">Equipo:</label> 
				<input id="realTeam" ng-model="realTeam" type="text" />
				<button ng-click="setPlayers({name: name, position: position, realTeam: realTeam})"
						id="addBtn" class="btn bln-lg">Añadir jugador</button>
				<button ng-click="setAll()" id="addBtn" class="btn bln-lg">Actualizar ronda</button>
			</div>
			<h3>Jugadores</h3>
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Posición</th>
					<th>Equipo</th>
					<th>Puntos por ronda</th>
					<th></th>
				</tr>
				<tr ng-repeat="player in players">
					<td>{{player.id}}</td>
					<td>{{player.name}}</td>
					<td>{{player.position}}</td>
					<td>{{player.realTeam}}</td>
					<td>{{player.points}}</td>
					<td>
						<button class="btn bln-lg" ng-click="setEditItem(player)">Editar</button>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="editing">
			<div>
				<label for="name">Nombre:</label>
				<input type="text" ng-model="editing.name"/>
			</div>
			<div>
				<label for="realTeam">Equipo:</label>
				<input type="text" ng-model="editing.realTeam"/>
			</div>

			<div>
				<label for="player">Posición:</label>
				<select id="position" ng-model="editing.position">
					<option value="GoalKeeper">Arquero</option>
					<option value="Defender">Defensor</option>
					<option value="Midfielder">Mediocampista</option>
					<option value="Forward">Delantero</option>
				</select>
			</div>
			<button class="btn bln-lg" ng-click="setPlayers({id: editing.id, name: editing.name, position: editing.position, realTeam: editing.realTeam}); editItem()">Editar</button>
			<button class="btn bln-lg" ng-click="back()">Volver</button>
		</div>
	</div>
</div>
