<div class="container">
	<div ng-controller="teams" ng-cloak class="ng-cloak">
		<div ng-hide="editing || viewing">
			<form class="css-form" name="addForm" novalidate >
				<label for="name">Nombre:</label>
				<input name="name" ng-model="name" type="text" required />
				<input type="submit" ng-disabled="addForm.$invalid" class="btn bln-lg"
						ng-click="setTeams({name: name}); name=''" value="Añadir Equipo"/>
			</form>
			<h3>Equipos</h3>
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Puntos</th>
					<th>Capitán</th>
					<th>Jugadores</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="team in teams">
					<td>{{team.id}}</td>
					<td>{{team.name}}</td>
					<td>{{team.roundPoints}}</td>
					<td>{{team.captain.name}}</td>
					<td>{{team.players.length}}</td>
					<td>
						<button class="btn bln-lg" ng-click="setEditItem(team)">Editar</button>
					</td>
					<td>
						<button class="btn bln-lg" ng-click="setViewItem(team)">Ver</button>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="viewing">
			<h3>Jugadores</h3>
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Posición</th>
					<th>Equipo</th>
				</tr>
				<tr ng-repeat="player in viewing.players">
					<td>{{player.id}}</td>
					<td>{{player.name}}</td>
					<td>{{player.position}}</td>
					<td>{{player.realTeam}}</td>
				</tr>
			</table>
		</div>
		<div ng-show="editing">
			<h4>Editar equipo id {{editing.id}}</h4>
			<form class="css-form" name="editPlayerForm" novalidate >
				<label for="name">Nombre:</label>
				<input name="name" type="text" ng-model="name" required />
				<input type="submit" ng-disabled="editPlayerForm.$invalid" class="btn bln-lg"
						ng-click="editItem('name')" value="Editar nombre" />
			</form>
			<form class="css-form" name="editCaptainForm" novalidate >
				<label for="captain">Capitán:</label>
				<select name="ca" ng-model="captain" ng-options="p.id as p.name for p in editing.players" required ></select>
				<button type="submit" ng-disabled="editCaptainForm.$invalid"
						 class="btn bln-lg" ng-click="editItem('captain')">Editar capitán</button>
			</form>
			<form class="css-form" name="editAddPForm" novalidate >
				<label for="position">Jugador:</label>
				<select name="position" ng-model="position" ng-change="getIdPosition(editing.id, position)" required >
					<option value="GoalKeeper">Arquero</option>
					<option value="Defender">Defensor</option>
					<option value="Midfielder">Mediocampista</option>
					<option value="Forward">Delantero</option>
				</select>
				<select name="player" ng-model="player" ng-disabled="editAddPForm.position.$invalid"
						ng-options="p.id as p.name for p in idPosition" required />
				<input type="submit" ng-disabled="editAddPForm.player.$invalid || editing.full" class="btn bln-lg"
						ng-click="editItem('player'); position=''" value="Agregar" />
			</form>
			<form class="css-form" name="editRemovePForm" novalidate >
				<label for="playerremove">Jugador:</label>
				<select name="playerremove" ng-model="playerremove" 
						ng-options="p.id as p.name for p in editing.players" required />
				<input type="submit" ng-disabled="editRemovePForm.$invalid" class="btn bln-lg"
						ng-click="editItem('playerremove')" value="Eliminar" />
			</form>
		</div>
		<div ng-show="editing || viewing">
			<button class="btn bln-lg" ng-click="back()">Volver</button>
		</div>
	</div>
</div>
