<div class="container">
	<div ng-controller="teams" ng-cloak class="ng-cloak">
		<div ng-hide="editing || viewing">
			<div class="form">
				<label for="name">Nombre:</label>
				<input id="name" ng-model="name" type="text" />
				<button id="addBtn" class="btn bln-lg" ng-click="setTeams({name: name})">Añadir equipo</button>
			</div>
			<h3>Equipos</h3>
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Puntos</th>
					<th>Capitán</th>
					<th>Jugadores</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="team in teams">
					<td>{{team.id}}</td>
					<td>{{team.name}}</td>
					<td>{{team.roundPoints}}</td>
					<td>{{team.captain.name}}</td>
					<td>{{team.players.length}}</td>
					<td>
						<button class="btn bln-lg" ng-click="setEditItem(team)">Editar</button>
					</td>
					<td>
						<button class="btn bln-lg" ng-click="setViewItem(team)">Ver</button>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="viewing">
			<h3>Jugadores</h3>
			<table class="table">
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Posición</th>
					<th>Equipo</th>
				</tr>
				<tr ng-repeat="player in viewing.players">
					<td>{{player.id}}</td>
					<td>{{player.name}}</td>
					<td>{{player.position}}</td>
					<td>{{player.realTeam}}</td>
				</tr>
			</table>
		</div>
		<div ng-show="editing">
			<h4>Editar equipo id {{editing.id}}</h4>
			<div>
				<label for="name">Nombre:</label>
				<input type="text" ng-model="editing.name"/>
				<button class="btn bln-lg" ng-click="editItem('name')">Editar nombre</button>
			</div>
			<div>
				<label for="captain">Capitán:</label>
				<select ng-model="editing.captain" ng-options="p.id as p.name for p in editing.players"></select>
				<button class="btn bln-lg" ng-click="editItem('captain')">Editar capitán</button>
			</div>
			<div>
				<label for="player">Jugador:</label>
				<select id="position" ng-model="position" ng-change="getPlayersPosition(position)">
					<option value="GoalKeeper">Arquero</option>
					<option value="Defender">Defensor</option>
					<option value="Midfielder">Mediocampista</option>
					<option value="Forward">Delantero</option>
				</select>
				<select ng-model="editing.player"
						ng-options="p.id as p.name for p in playersPosition"/>
				<button class="btn bln-lg" ng-click="editItem('player')">Agregar</button>
			</div>
			<div>
				<label for="playerremove">Jugador:</label>
				<select ng-model="editing.playerremove" ng-options="p.id as p.name for p in editing.players"></select>
				<button class="btn bln-lg" ng-click="editItem('playerremove')">Eliminar</button>
			</div>
		</div>
		<div ng-show="editing || viewing">
			<button class="btn bln-lg" ng-click="back()">Volver</button>
		</div>
	</div>
</div>
